body {
  color : #231f20;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  margin: auto;
  margin-bottom: 24px;
  max-width: 300px;
}
nav ul li {
  width: 100%;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Source Sans Pro';
  height: 44px;
  line-height: 44px;
  color: #849097;
  transition: box-shadow 0.33s ease-out, color 0.33s ease-out;
  -webkit-transition: box-shadow 0.33s ease-out, color 0.33s ease-out; /* Safari */
}
nav ul li:not(.active) {
  background-color: white !important;
}
nav ul li.active {
  box-shadow: 0 0 7px rgba(132, 144, 151, 0.3);
  color : white;
  border-radius: 2px;
}
h3 {
  font-size: 22px;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
p {
  border-top: 1px solid #e4ecef;
  padding-top: 1em;
  margin: 1em 0;
}
main {
  
}
main img {
  width: 100%;
}

@media screen and (min-width: 400px) {
  main img {
    float: right;
    width: 45%;
  }
  h3 {
    padding-top: 38px;
  }
  p {
    width: 55%;
  }
}

footer {
  clear: both;
}